In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# Import Dataframe

In [2]:
# Path Creation
path=r'C:\Users\Drew\Instacart Basket Analysis'

In [3]:
# Import Data
ords_prods_merge=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merge_ordering_frequency.pkl'))

In [4]:
# Checking imported dataframe
ords_prods_merge.shape

(32404859, 18)

# 2. you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [5]:
# Creating Subset
df_merge_sub=ords_prods_merge[:1000000]

In [6]:
# Checking created df subset
df_merge_sub.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,33664,2 % Reduced Fat Milk,84,16,9.9,183964,873,3,0,10,7.0,11,0,both,Mid-range product,Busiest day,Busiest days,Most orders
1,33664,2 % Reduced Fat Milk,84,16,9.9,1851256,873,4,6,12,13.0,8,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders
2,33664,2 % Reduced Fat Milk,84,16,9.9,1915696,1893,1,5,17,NaN,10,0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
3,33664,2 % Reduced Fat Milk,84,16,9.9,2763293,1893,2,4,16,13.0,6,1,both,Mid-range product,Least busy,Slowest days,Most orders
4,33664,2 % Reduced Fat Milk,84,16,9.9,2564805,1893,4,1,17,30.0,3,1,both,Mid-range product,Regularly busy,Busiest days,Average orders
5,33664,2 % Reduced Fat Milk,84,16,9.9,949012,3339,1,1,14,NaN,8,0,both,Mid-range product,Regularly busy,Busiest days,Most orders
6,33664,2 % Reduced Fat Milk,84,16,9.9,420057,3339,2,0,11,13.0,29,1,both,Mid-range product,Busiest day,Busiest days,Most orders
7,33664,2 % Reduced Fat Milk,84,16,9.9,1511997,3339,3,1,18,8.0,14,1,both,Mid-range product,Regularly busy,Busiest days,Average orders
8,33664,2 % Reduced Fat Milk,84,16,9.9,1153448,3339,4,4,16,10.0,1,1,both,Mid-range product,Least busy,Slowest days,Most orders
9,33664,2 % Reduced Fat Milk,84,16,9.9,2669259,3339,5,4,14,21.0,6,1,both,Mid-range product,Least busy,Slowest days,Most orders

In [7]:
# Creating aggregate data with order number while grouping department_id for subset
df_merge_sub.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.663313
2                21.395349
3                16.647387
4                18.441358
5                15.199064
6                15.192633
7                17.720147
8                16.269551
9                16.339874
11               16.865642
12               15.835250
13               16.891682
14               18.086275
15               16.957601
16               16.850563
17               14.734129
18               18.227632
20               17.451307
21               22.037229

In [8]:
# finding the aggregated mean of the “order_number” column grouped by “department_id” for entire dataframe
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# 3.Analyze the result. How do the results for the entire dataframe differ from those of the subset? 
### When comparing the mean results of the siubset and the entire dataframe, we can see that the means change for each department_id result. We can see that some either decrease or increase due to numbers being added when using the dataframe as a whole instead of the first 1,000,000 rows as some departments are being omitted in the subset.

# 4.Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [45]:
# Creating new column "max_order" to find the maximum order number of each user
# below message in red is fixed further down. Researched reason and resulted chatgpt to better understand reason for message. I left in for one method to follow lesson example.
ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Drew\AppData\Local\Temp\ipykernel_43784\2374590386.py:3: FutureWarning: The provided callable <function max at 0x0000022B2F89FBA0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [47]:
# Checking new column. Using 15 based on lesson.
ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending_average,type_of_spender,user_frequency,customer_frequency_type
0,33664,2 % Reduced Fat Milk,84,16,9.9,183964,873,3,0,10,...,Mid-range product,Busiest day,Busiest days,Most orders,8,New Customer,8.484091,Low Spender,10.0,Frequent Customer
1,33664,2 % Reduced Fat Milk,84,16,9.9,1851256,873,4,6,12,...,Mid-range product,Regularly busy,Regularly busy,Most orders,8,New Customer,8.484091,Low Spender,10.0,Frequent Customer
2,33664,2 % Reduced Fat Milk,84,16,9.9,1915696,1893,1,5,17,...,Mid-range product,Regularly busy,Regularly busy,Average orders,6,New Customer,6.888525,Low Spender,13.0,Regular Customer
3,33664,2 % Reduced Fat Milk,84,16,9.9,2763293,1893,2,4,16,...,Mid-range product,Least busy,Slowest days,Most orders,6,New Customer,6.888525,Low Spender,13.0,Regular Customer
4,33664,2 % Reduced Fat Milk,84,16,9.9,2564805,1893,4,1,17,...,Mid-range product,Regularly busy,Busiest days,Average orders,6,New Customer,6.888525,Low Spender,13.0,Regular Customer
5,33664,2 % Reduced Fat Milk,84,16,9.9,949012,3339,1,1,14,...,Mid-range product,Regularly busy,Busiest days,Most orders,6,New Customer,7.754601,Low Spender,12.0,Regular Customer
6,33664,2 % Reduced Fat Milk,84,16,9.9,420057,3339,2,0,11,...,Mid-range product,Busiest day,Busiest days,Most orders,6,New Customer,7.754601,Low Spender,12.0,Regular Customer
7,33664,2 % Reduced Fat Milk,84,16,9.9,1511997,3339,3,1,18,...,Mid-range product,Regularly busy,Busiest days,Average orders,6,New Customer,7.754601,Low Spender,12.0,Regular Customer
8,33664,2 % Reduced Fat Milk,84,16,9.9,1153448,3339,4,4,16,...,Mid-range product,Least busy,Slowest days,Most orders,6,New Customer,7.754601,Low Spender,12.0,Regular Customer
9,33664,2 % Reduced Fat Milk,84,16,9.9,2669259,3339,5,4,14,...,Mid-range product,Least busy,Slowest days,Most orders,6,New Customer,7.754601,Low Spender,12.0,Regular Customer
10,33664,2 % Reduced Fat Milk,84,16,9.9,965345,3531,27,2,19,...,Mid-range product,Regularly busy,Regularly busy,Average orders,29,Regular Customer,7.757922,Low Spender,8.0,Frequent Customer
11,33664,2 % Reduced Fat Milk,84,16,9.9,2291230,5034,6,1,17,...,Mid-range product,Regularly busy,Busiest days,Average orders,7,New Customer,8.059434,Low Spender,19.0,Regular Customer
12,33664,2 % Reduced Fat Milk,84,16,9.9,2324832,5034,7,6,11,...,Mid-range product,Regularly busy,Regularly busy,Most orders,7,New Customer,8.059434,Low Spender,19.0,Regular Customer
13,33664,2 % Reduced Fat Milk,84,16,9.9,323856,6175,37,2,9,...,Mid-range product,Regularly busy,Regularly busy,Most orders,95,Loyal Customer,7.687206,Low Spender,3.0,Frequent Customer
14,33664,2 % Reduced Fat Milk,84,16,9.9,842052,6222,10,1,18,...,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular Customer,8.499600,Low Spender,12.0,Regular Customer

## adding loyalty flag using .loc

In [17]:
ords_prods_merge.loc[ords_prods_merge['max_order']<=10,'loyalty_flag']='New Customer'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['max_order']>10)&(ords_prods_merge['max_order']<=40),'loyalty_flag']='Regular Customer'

In [19]:
ords_prods_merge.loc[ords_prods_merge['max_order']>40,'loyalty_flag']='Loyal Customer'

In [21]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,33664,2 % Reduced Fat Milk,84,16,9.9,183964,873,3,0,10,7.0,11,0,both,Mid-range product,Busiest day,Busiest days,Most orders,8,New Customer
1,33664,2 % Reduced Fat Milk,84,16,9.9,1851256,873,4,6,12,13.0,8,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders,8,New Customer
2,33664,2 % Reduced Fat Milk,84,16,9.9,1915696,1893,1,5,17,NaN,10,0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,6,New Customer
3,33664,2 % Reduced Fat Milk,84,16,9.9,2763293,1893,2,4,16,13.0,6,1,both,Mid-range product,Least busy,Slowest days,Most orders,6,New Customer
4,33664,2 % Reduced Fat Milk,84,16,9.9,2564805,1893,4,1,17,30.0,3,1,both,Mid-range product,Regularly busy,Busiest days,Average orders,6,New Customer

In [22]:
# Check value counts of newly created loyalty_flag column
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: count, dtype: int64

In [43]:
ords_prods_merge[['user_id','max_order','loyalty_flag']].head(50)

    user_id  max_order      loyalty_flag
0       873          8      New Customer
1       873          8      New Customer
2      1893          6      New Customer
3      1893          6      New Customer
4      1893          6      New Customer
5      3339          6      New Customer
6      3339          6      New Customer
7      3339          6      New Customer
8      3339          6      New Customer
9      3339          6      New Customer
10     3531         29  Regular Customer
11     5034          7      New Customer
12     5034          7      New Customer
13     6175         95    Loyal Customer
14     6222         22  Regular Customer
15     6840          6      New Customer
16     7029          3      New Customer
17     7608         47    Loyal Customer
18     8388         47    Loyal Customer
19     8388         47    Loyal Customer
20     8400         20  Regular Customer
21     8400         20  Regular Customer
22     8400         20  Regular Customer
23     8400         20  Regular Customer
24     8400         20  Regular Customer
25     8894         51    Loyal Customer
26     8942          4      New Customer
27     8942          4      New Customer
28     9850          8      New Customer
29    10182          3      New Customer
30    10607         41    Loyal Customer
31    11487          4      New Customer
32    11487          4      New Customer
33    11969          4      New Customer
34    11969          4      New Customer
35    12536         16  Regular Customer
36    12536         16  Regular Customer
37    13773         36  Regular Customer
38    13773         36  Regular Customer
39    13773         36  Regular Customer
40    14872         18  Regular Customer
41    14872         18  Regular Customer
42    14872         18  Regular Customer
43    14872         18  Regular Customer
44    16840          8      New Customer
45    17189         35  Regular Customer
46    17794         11  Regular Customer
47    18529         40  Regular Customer
48    18740          9      New Customer
49    18740          9      New Customer

# 5.The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [25]:
# Finding mean,min,max of prices for each loyalty category
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max','mean','std']})

                    prices
                      mean  min   max      mean       std
loyalty_flag
Loyal Customer    7.772831  1.0  25.0  7.772831  4.206451
New Customer      7.800318  1.0  25.0  7.800318  4.267164
Regular Customer  7.797430  1.0  25.0  7.797430  4.255201

## When originally finding max value of loyalty customers, max came out to 9999. This appeared very odd so I decided to go back to data sources and see where problem occured. After sorting products files for highest prices first, I found that 2% Reduced Fat Milk and cattage cheese prices were incorrect at milk being 9999 and cottage cheese being 1490. Upon investigating similar product prices, I decided to judge that these were input errors and adjusted prices to milk at 9.9 and cottage cheese to 1.5 which kept them around similar product pricing. 
## Correcting this pricing error in the data source has also lowered the skewed mean as the milk and cottage cheese prices were drastically high.

# 6.The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
## Criteria 1: If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
## Criteria 2: If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [29]:
# Creating new column for average of customer spending
ords_prods_merge['spending_average']=ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [30]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending_average
0,33664,2 % Reduced Fat Milk,84,16,9.9,183964,873,3,0,10,...,11,0,both,Mid-range product,Busiest day,Busiest days,Most orders,8,New Customer,8.484091
1,33664,2 % Reduced Fat Milk,84,16,9.9,1851256,873,4,6,12,...,8,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders,8,New Customer,8.484091
2,33664,2 % Reduced Fat Milk,84,16,9.9,1915696,1893,1,5,17,...,10,0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,6,New Customer,6.888525
3,33664,2 % Reduced Fat Milk,84,16,9.9,2763293,1893,2,4,16,...,6,1,both,Mid-range product,Least busy,Slowest days,Most orders,6,New Customer,6.888525
4,33664,2 % Reduced Fat Milk,84,16,9.9,2564805,1893,4,1,17,...,3,1,both,Mid-range product,Regularly busy,Busiest days,Average orders,6,New Customer,6.888525

## Creating flag column to identify type of spending customer.

In [32]:
ords_prods_merge.loc[ords_prods_merge['spending_average']<10,'type_of_spender']='Low Spender'

In [33]:
ords_prods_merge.loc[ords_prods_merge['spending_average']>=10,'type_of_spender']='High Spender'

In [34]:
# Checking value counts of newly created column "type_of_spender flag
ords_prods_merge['type_of_spender'].value_counts(dropna=False)

type_of_spender
Low Spender     32285165
High Spender      119694
Name: count, dtype: int64

## Results show that Instacart customers are mainly low spending customers.

# 7.In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
1. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
2. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
3. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [36]:
# Creating new column for user/customer frequency median
ords_prods_merge['user_frequency']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

## creating frequency flag of customers

In [37]:
ords_prods_merge.loc[ords_prods_merge['user_frequency']<=10,'customer_frequency_type']='Frequent Customer'

In [39]:
ords_prods_merge.loc[(ords_prods_merge['user_frequency']>10)&(ords_prods_merge['user_frequency']<=20),'customer_frequency_type']='Regular Customer'

In [40]:
ords_prods_merge.loc[ords_prods_merge['user_frequency']>20,'customer_frequency_type']='Non-frequent Customer'

In [41]:
# Checking value counts of new customer freqency column
ords_prods_merge['customer_frequency_type'].value_counts(dropna=False)

customer_frequency_type
Frequent Customer        21559853
Regular Customer          7208564
Non-frequent Customer     3636437
NaN                             5
Name: count, dtype: int64

In [44]:
ords_prods_merge[['user_id','user_frequency','customer_frequency_type']].head(50)

    user_id  user_frequency customer_frequency_type
0       873            10.0       Frequent Customer
1       873            10.0       Frequent Customer
2      1893            13.0        Regular Customer
3      1893            13.0        Regular Customer
4      1893            13.0        Regular Customer
5      3339            12.0        Regular Customer
6      3339            12.0        Regular Customer
7      3339            12.0        Regular Customer
8      3339            12.0        Regular Customer
9      3339            12.0        Regular Customer
10     3531             8.0       Frequent Customer
11     5034            19.0        Regular Customer
12     5034            19.0        Regular Customer
13     6175             3.0       Frequent Customer
14     6222            12.0        Regular Customer
15     6840             9.0       Frequent Customer
16     7029            15.0        Regular Customer
17     7608             2.0       Frequent Customer
18     8388             4.0       Frequent Customer
19     8388             4.0       Frequent Customer
20     8400             9.0       Frequent Customer
21     8400             9.0       Frequent Customer
22     8400             9.0       Frequent Customer
23     8400             9.0       Frequent Customer
24     8400             9.0       Frequent Customer
25     8894             5.0       Frequent Customer
26     8942            30.0   Non-frequent Customer
27     8942            30.0   Non-frequent Customer
28     9850            16.0        Regular Customer
29    10182             2.0       Frequent Customer
30    10607             6.0       Frequent Customer
31    11487             8.0       Frequent Customer
32    11487             8.0       Frequent Customer
33    11969             7.0       Frequent Customer
34    11969             7.0       Frequent Customer
35    12536            25.0   Non-frequent Customer
36    12536            25.0   Non-frequent Customer
37    13773             7.0       Frequent Customer
38    13773             7.0       Frequent Customer
39    13773             7.0       Frequent Customer
40    14872            10.0       Frequent Customer
41    14872            10.0       Frequent Customer
42    14872            10.0       Frequent Customer
43    14872            10.0       Frequent Customer
44    16840            11.0        Regular Customer
45    17189             7.0       Frequent Customer
46    17794            14.0        Regular Customer
47    18529             7.0       Frequent Customer
48    18740            15.0        Regular Customer
49    18740            15.0        Regular Customer

# Checking new dataframe with new columns created before exporting

In [48]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending_average,type_of_spender,user_frequency,customer_frequency_type
0,33664,2 % Reduced Fat Milk,84,16,9.9,183964,873,3,0,10,...,Mid-range product,Busiest day,Busiest days,Most orders,8,New Customer,8.484091,Low Spender,10.0,Frequent Customer
1,33664,2 % Reduced Fat Milk,84,16,9.9,1851256,873,4,6,12,...,Mid-range product,Regularly busy,Regularly busy,Most orders,8,New Customer,8.484091,Low Spender,10.0,Frequent Customer
2,33664,2 % Reduced Fat Milk,84,16,9.9,1915696,1893,1,5,17,...,Mid-range product,Regularly busy,Regularly busy,Average orders,6,New Customer,6.888525,Low Spender,13.0,Regular Customer
3,33664,2 % Reduced Fat Milk,84,16,9.9,2763293,1893,2,4,16,...,Mid-range product,Least busy,Slowest days,Most orders,6,New Customer,6.888525,Low Spender,13.0,Regular Customer
4,33664,2 % Reduced Fat Milk,84,16,9.9,2564805,1893,4,1,17,...,Mid-range product,Regularly busy,Busiest days,Average orders,6,New Customer,6.888525,Low Spender,13.0,Regular Customer

In [50]:
ords_prods_merge.shape

(32404859, 24)

In [52]:
print(ords_prods_merge.columns.tolist())

['product_id', 'product_name', 'aisle_id', 'department_id', 'prices', 'order_id', 'user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order', 'reordered', '_merge', 'price_range_loc', 'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag', 'spending_average', 'type_of_spender', 'user_frequency', 'customer_frequency_type']

# Export Dataframe

In [ ]:
# Exorting new dataframe
ords_prods_merge.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merge_derived_freq_grouping_agg,pkl'))